# Strings

In [2]:
a = "Hello"
print(a)

Hello

In [10]:
# operators 
#== , = , < , > != etc
# comparison based on ASCII table
b = "ayesha"
c = "ayesha"
d = "Ayesha"
e = "ayeshas"
# print(b==c)
# print(a==b)
# print(b==d)
# print(e>b)
# print(b!=d)

True

In [11]:
# concetination : adding the two strings using the +
a = "ayesha"
b = "sattar"
print(a+b)

ayeshasattar

In [12]:
# multiplication string
a = "hello"
print(3*a)

hellohellohello

In [13]:
# in operator : check the characters is in the string or not , left me value he right ki ya nhi
print('aye' in 'ayesha')

True

In [23]:
# silicing : the specific part/string/character which we want
o = "denis"
# print(o[3])
# o[0:2]
# o[3 : ]
# o[ : 4]

'deni'

In [30]:
# Negative silicing 
h = "hello"
# print(h[::-1])
h[-1]

'o'

In [31]:
# functions or method
# function : kisi b cheez k lia ho skta he int , float etc
# method : ye specific object k lia hota he

a = "ayesha sattar"
print(len(a))

13

In [33]:
print(a.upper())

AYESHA SATTAR

In [34]:
# capitalize : first character capital
print(a.capitalize())

Ayesha sattar

In [41]:
# split : sepaarte krta he
a = "What is going on?"
print(a.split())

['What', 'is', 'going', 'on?']

In [43]:
# center
a = "h r u"
print(a.center(11 ,'*'))

***h r u***

In [48]:
# raw string : same wesy hi execute ho gi

# print(r"hello \nhello")
# print("hello \\nhello")

hello \nhello

In [ ]:
# strings are imutable

In [49]:
#replace
a = "ayesha"
a.replace("ayesha", "Denis")

'Denis'

In [50]:
a.replace("a" , "s" , 2) # argument

'syeshs'

In [7]:
a ="P"
x=3*a
o="A"
b="F"
c="A"
d=b+c
e="F"
f="A"
g=e+f
h="F"
i="A"
j=h+i
k="F"
l="A"
m=k*l
n="F"

print(x+o"+"+d"+"+g"+"+j"+"+m"+"n)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2145154144.py, line 18)

In [15]:
a ="P"
x=3*a
o="A"
q=x+o
b="F"
c="A"
d=b+c
e="F"
f="A"
g=e+f
h="F"
i="A"
j=h+i
k="F"
p="*"
l="A"
m = k+p+l
n="F"

print(q"+"+d+"+"+g+"+"+j+"+"+m+"+"n)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (886219651.py, line 20)

In [16]:
a = "P"
x = 3 * a
o = "A"
q = x + o
b = "F"
c = "A"
d = b + c
e = "F"
f = "A"
g = e + f
h = "F"
i = "A"
j = h + i
k = "F"
p = "*"
l = "A"
m = k + p + l
n = "F"

print(q + "+" + d + "+" + g + "+" + j + "+" + m + "+" + n)

PPPA+FA+FA+FA+F*A+F